<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <%= image_tag "logan_portfolio_real_image.jpg", width: 450, alt: "profile image" %>
  </div>

  <div class="col-md-6">
    <p>I have just started coding this year and it has been a great experience fo me.
    It allows you to think outside of the box and work hard. There are so many different
    ways that coding can help you in the future. I would definitely recomend that every
    person should get to take some type of coding class in their life.</p>

    <p>Eventhough I love to code and am looking forward getting to learn more in the future,
    I have many other interests. I have been playing the saxophone, piano, and bass clarinet
    for over 3 years. I have always had a love for watching and playing sports (except baseball).
    Most of all, I have always had a desire to want to learn as much as I can which has lead me 
    to this course. Anyways, in the end I would like to thank my family for giving  me the chance
    to do this and just all the people that could make it happen. I am blessed to
    live in a time like this and I am greatful that I was given this chance.</p>
  </div>
</div>